@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;

}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "Roboto Mono", serif;
    font-weight: 200;
    text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s forwards;

}

.banner p {
    font-family: "Roboto Mono", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 4);
    animation: moveBanner 2s forwards;
}

.banner button {
    font-family: "Roboto Mono", serif;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #ff0099;
    background: -webkit-linear-gradient(to right, #ff0099, #493240);
    background: linear-gradient(to right, #ff0099, #493240);
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px 5%;
    animation: moveBanner 3s forwards;
}

.banner button:hover {
    background-color: #f038ff;
    color: #000;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0deg);
        opacity: 1;
    }
}